body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background-color: #F6F5F2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d40;
    padding: 10px 20px;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000; 
}

header img#glifo {
    height: 50px;
}

header nav a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    font-size: 1.1em;
}

header nav a:hover {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 1.1em;
}

header nav a img {
    vertical-align: middle;
    margin-right: 8px;
    background-size: cover;
    transition: background-image 0.5s ease;
}

.intro {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 30px;
}

.intro h1 {
    font-size: 2.5em;
    color: #00796b;
    margin-bottom: 20px;
}

.place-container{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    margin: 10px;
    width: auto;
    height: auto;
}

.place:hover{
    background-color: #D5ED9F;
    transform: scale(1.05);
}

.place img{
    position: relative;
    left: 200px;
    width: 160px;
    border-radius: 5px;
    border: #000 solid 1px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.place{
    background-color: #fff; 
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border: solid;
    border-radius: 5px;
    padding: 10px;
}

.place h2{
    text-align: center;
    font-size: 2em;
    color: #004d40
}

.item3{
    grid-column: span 2;
}
#gym-img{
    position: relative;
    left: 450px;
}

strong{
    color: #00796b;
}